@-ms-viewport{
  width: extend-to-zoom;
  zoom: 1.0;
}
/* as found here: https://webdesign.tutsplus.com/articles/quick-tip-dont-forget-the-viewport-meta-tag--webdesign-5972 */

@media screen and (max-width: 650px) {
  #nav-bar {
    background-color: lightgrey;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #logo {
    display: flex;
    justify-content: space-around;
    padding: 0 10px;
  }

  #nav-bar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Eagle Lake', cursive, sans-serif;
  }

  #products, #highlights, #video_repair, footer {
    width: 95vw;
    margin: 0 auto;
  }

  iframe {
    width: 75vw;
  }

  #exploded_cauldron {
    width: 100vw;
    float: left;
  }
}

@media screen and (min-width: 650px) {

  #products, #highlights, #video_repair, footer {
    width: 60vw;
    margin: 0 auto;
  }

  iframe {
    width: 640px;
    height: 360px;
    margin: 0 auto;
  }

  #exploded_cauldron {
    width: 150px;
    float: right;
  }
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background-color: #1f0000;
  color: white;
}

header {
  position: sticky;
  top: 0px;
}

main {
  width: 100%;
}

#header-name {
  font-family: 'Uncial Antiqua', cursive, sans-serif;
  /*font-size: xx-large;*/
}

h1, h2 {
  font-family: 'Uncial Antiqua', cursive, sans-serif;
  font-size: xx-large;
  color: #ffcb47;
}

h2, h3 {
  text-align: center;
}

h3, #email-label, .ad-text {
  font-family: 'Eagle Lake', cursive, sans-serif;
}

h3, #submit {
  text-transform: uppercase;
}

h3 {
  color: #ffa533;
}

#ad-logo {
  color: #ffa533;
}

#submit, .ad-text {
  color: #ffcb47;
}

input[type=email], #submit, #ad-logo {
  font-family: 'Uncial Antiqua', cursive, sans-serif;
}

p, footer {
  font-family: 'Philosopher', sans-serif;
}

#nav-bar {
  background-color: lightgrey;
  color: black;
  display: flex;
  justify-content: space-between;
}

#header-img {
  height: 64px;
  padding: 2px 10px;
}

#logo {
  display: flex;
  justify-content: space-around;
  padding: 0 10px;
}

#nav-bar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  font-family: 'Eagle Lake', cursive, sans-serif;
}

#nav-bar li {
  padding: 0 10px;
}

#nav-bar a {
  text-decoration: none;
  color: black;
}

#nav-bar a:hover {
  color: #3d3220;
}

#form {
  width: 300px;
  margin: 36px auto;
}

input[type=email] {
  width: 97%;
  font-size: 24px;
  margin: 5px auto;
}

#submit {
  width: 100%;
  font-size: 24px;
  background-color: black;
}

#video-position, #cauldron-vid {
  width: 650px;
  margin: 0 auto;
}

iframe {
  border: 0;
}

#highlights-jump {
  text-align: center;
}

#highlights {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.highlight{
  width: 25vw;
  padding: 16px;
  text-align: justify;
  min-width: 250px;
}

.highlight img {
  width: 25vw;
  min-width: 250px;
}

footer {
  text-align: center;
}

footer a {
  text-decoration: none;
  color: #544a33;
}

footer a:hover {
  color: #ffa533;
}
